.header-vanilla{
  width: 100%;
  height: 140px;
  background-color: #24282d;
  color: #ffffff;
  padding: 10px;
  -webkit-app-region: drag;

  .header-text{
    font-size: 18px;
  }

  .header-sub-text{
    font-size: 14px;
  }
}

.header-textbox{
  background-color: #454545;
  color: #ffffff;
}
